<p>Sample Page</p>
<h1>Index</h1>

<% const listBtn = ['mamaliga', 'peste', 'usturoi'] %>
<% listBtn.forEach(item => { %> <button> <%= item %> </button> 
<% }) %>
 
<%- include('includes/box') %>

<div>
	<p>random text</p>
</div>